h1 {
    color: blue;

}

#letra {
    color: gray;
    font-size: 16px;
    
}

/* Fondos */
.fondo {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/849/553/original/modern-gold-background-free-vector.jpg);
  
}

.tarjeta {
    width: 100px;
    background-color: greenyellow;
    border-style: solid;
    padding: 10px 20px;
    margin: 20px;
}