* {
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: 100%;
    border-color: aqua;
    padding: 5px 10px;
    margin: 5px 10px;
    border: none;
    border-bottom: 1px solid;
    background-image: url(/07-formularios/img/search-icon.webp);
    background-repeat: no-repeat;
    background-position: 200px;
    background-size: 2%;
}

.input:focus {
    width: 100%;
    border-radius: 2px;
    border: none;
    padding: 5px 10px;
    margin: 5px 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0)}

.input[type="password"] {
    color: red;
}