.container {
    display: grid;
    /* grid-template-columns: repeat(3, auto);
    grid-template-columns: auto auto auto; */
    /* grid-template-columns: 20px 2rem 4em; */
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;
    /* grid-template-areas: 'head head head' 'main main aside' 'footer footer footer'; */
    gap: 0.5rem;
}

.item{
    background-color: aquamarine;
    padding: 0.25rem;
    font-size: 2rem;
    border: solid 0.1rem;
}

.item1 {
    grid-column: 1/4;
    /* grid-area: head; */
}