* {
    padding: 10px;
}

.padre {
    height: 400px;
    width: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: aqua;
    /* transition: all 1.2s ease-in 2s; */
    /* transition: transform 1.5s; */
    animation: traslacion 4s ease-in-out infinite alternate;
}

.padre:hover .hijo {
    /* transform: translateX(100%);
    background-color: blueviolet; */
    animation-play-state: paused ;
}

@keyframes traslacion {
    0%{
        background-color: brown;
        transform: translateX(0%);
    }

    25%{
        background-color: green;
        transform: translateX(100%) translateY(0%);
    }

    50%{
        background-color: darkorange;
        transform: translateX(100%) translateY(100%);
    }

    75%{
        background-color: black;
        transform: translateX(0%) translateY(100%);
    }

    100%{
        background-color: yellow;
        transform: translateX(0%);
    }
    
}