div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px ;
}

/* Se posiciona en relación a la posición incial */
.Relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

.fixed {
    
}